<html>
    <head>
        <title>Oficina G</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="projetao.css" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="projetao.js"></script>
    </head>

    <body>

        <div id='div1' name='div1'>
            <h1 id='oficina'>Oficina Gambiarra</h1>
            <center>
                <div class="rotas">
                    <a id='links' href="/">In&iacute;cio </a>
                    <a id='links' href="/veiculo">Ve&iacute;culos </a>
                    <a id='links' href="/funcionario">Funcion&aacute;rios </a>
                    <a id='links' href="/cliente">Clientes </a>
                    <a id='links' href="/peca">Pe&ccedil;as </a>
                    <a id='links' href="/servico">Servi&ccedil;os </a>
                    <a id='links' href="/historico">Hist&oacute;rico</a>
                </div>
            </center>
        </div>
    <center>
        <div>
            <br>
            <a href="/funcionariocadastro" class="linkn">Cadastrar Funcion&aacute;rio</a>
            <br><br>
            <form name="form1" id="form1">
                <table>
                    <tbody>
                    <tr>
                        <td><input type="text" id="nome" name="nome"></td>
                        <td><button type="button" onclick="funcionario()">Pesquisar</button></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <div id='div2' name='div2'>
            <h2>Funcion&aacute;rios</h2>
            <table>
                <thead>
                

                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Endere&ccedil;o</th>
                    <th colspan='2'>A&ccedil;&atilde;o</th>

                
                
                </thead>
                <tbody id="conteudo">
                {{#funcionarios}}
                <tr>

                    <td>{{nome}}</td>
                    <td>{{telefone}}</td>
                    <td>{{email}}</td>
                    <td>{{cpf}}</td>
                    <td>{{endereco.toString}}</td>
                    <td><a href="/funcionarioupdate/{{id}}" class="views">Editar</a></td>
                    <td><a href="/funcionariodelete/{{id}}" class="views">Remover</a></td>

                </tr>
                {{/funcionarios}}
                
                </tbody>
            </table>
        </div>
    </center>
    <div id='div3' name='div3'>
        <center>
            <h3>Oficina G</h3>
            <p>A Oficina da Gambiarra, onde nada se perde, nada se recusa, tudo se resolve.</p>
        </center>
    </div>


</body>
</html>