<html>
    <head>
        <title>Oficina G</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/projetao.css" type="text/css" rel="stylesheet">
        <script src="/projetao.js" type="text/javascript"></script>
    </head>

    <body>

        <div id='div1' name='div1'>
            <h1 id='oficina'>Oficina Gambiarra</h1>
            <center>
                <div class="rotas">
                    <a id='links' href="/">In&iacute;cio </a>
                    <a id='links' href="/veiculo">Ve&iacute;culos </a>
                    <a id='links' href="/funcionario">Funcion&aacute;rios </a>
                    <a id='links' href="/cliente">Clientes </a>
                    <a id='links' href="/peca">Pe&ccedil;as </a>
                    <a id='links' href="/servico">Servi&ccedil;os </a>
                    <a id='links' href="/historico">Hist&oacute;rico</a>
                </div>
            </center>
        </div>
    <center>
        <br>
        <div id='div2' class="form">
            <div id="topo">
                <h2>Alterar Pe&ccedil;as</h2>
            </div>
            <div>
                <br>
                <form name = "form1" class="form1"method="get" action="/pecaedit">
                    <table>
                        <tr>
                            <td class="normal">Nome: </td>
                            <td class="normal">
                                <input type="text" size="35" id="nome" name="nome" value="{{nome}}">
                            </td>
                        </tr>
                        <tr>
                            <td class="normal">Fornecedor: </td>
                            <td class="normal">
                                <input type="text" id="fornecedor" name="fornecedor" value="{{fornecedor}}">
                            </td>
                        </tr>

                        <tr>
                            <td class="normal">Valor: </td>
                            <td class="normal">
                                <input type="text" size="15" id="valor" name="valor" value="{{valor}}">
                            </td>
                        </tr>
                    </table>
                    <br>
                    <input type="hidden" value="{{id}}">
                    <input id="criar" type="submit" value="Alterar">
                    </div>
                    </div>
                </form>
                </center>
                <div id='div3' name='div3'>
                    <center>
                        <h3>Oficina G</h3>
                        <p>A Oficina da Gambiarra, onde nada se perde, nada se recusa, tudo se resolve.</p>
                    </center>
                </div>


                </body>
                </html>