<!DOCTYPE html>
<html>
    <head>
        <title>Classificados</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <center>
        <form action="http://localhost:4567/insert/" method="post">
            
                <table>
            <tr><td>Descricao: <input type = "text" name="descricao" value=""></td></tr>
            <tr><td>Contato: <input type = "text" name="contato" value=""></td></tr>
            <tr><td><input type="submit" value="Enviar"></td></tr>
                </table>
                            
            
        </form>
        </center>
    </body>
</html>
