<html>
    <head>
        <title>Oficina G</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/projetao.css" type="text/css" rel="stylesheet">
        <script src="/projetao.js" type="text/javascript"></script>
    </head>

    <body>

        <div id='div1' name='div1'>
            <h1 id='oficina'>Oficina Gambiarra</h1>
            <center>
                <div class="rotas">
                    <a id='links' href="/">In&iacute;cio </a>
                    <a id='links' href="/veiculo">Ve&iacute;culos </a>
                    <a id='links' href="/funcionario">Funcion&aacute;rios </a>
                    <a id='links' href="/cliente">Clientes </a>
                    <a id='links' href="/peca">Pe&ccedil;as </a>
                    <a id='links' href="/servico">Servi&ccedil;os </a>
                    <a id='links' href="/historico">Hist&oacute;rico</a>
                </div>
            </center>
        </div>
    <center>

        <div id='div2' name='div2'>
            <h2>Gastos</h2>
            <table>
                <thead>

                <th>Produto</th>
                <th>Unidades</th>
                <th>Valor Pago</th>
                </thead>
                <tbody>
                    {{#servico_pecas}}
                    <tr>
                        <td>{{peca.nome}}</td>
                        <td>{{quantidade}}</td>
                        <td>{{valor}}</td>
                    </tr>
                    {{/servico_pecas}}
                    <tr>
                        <td>M&atilde;o-de-Obra</td>
                        <td></td>
                        <td>{{mao}}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td></td>
                        <td>{{total}}</td>
                    </tr>
                </tbody>
            </table>
            <h4>Situa&ccedil;&atilde;o Pago({{pago}})</h4><br>
            <a href="/pagar/{{id}}" class="views" id="pagar">Pagar</a>
        </div>
    </center>
    <div id='div3' name='div3'>
        <center>
            <h3>Oficina G</h3>
            <p>A Oficina da Gambiarra, onde nada se perde, nada se recusa, tudo se resolve.</p>
        </center>
    </div>


</body>
</html>