<html>
    <head>
        <title>Oficina G</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/projetao.css" type="text/css" rel="stylesheet">
        <script src="/projetao.js" type="text/javascript"></script>
    </head>

    <body>

        <div id='div1' name='div1'>
            <h1 id='oficina'>Oficina Gambiarra</h1>
            <center>
                <div class="rotas">
                    <a id='links' href="/">In&iacute;cio </a>
                    <a id='links' href="/veiculo">Ve&iacute;culos </a>
                    <a id='links' href="/funcionario">Funcion&aacute;rios </a>
                    <a id='links' href="/cliente">Clientes </a>
                    <a id='links' href="/peca">Pe&ccedil;as </a>
                    <a id='links' href="/servico">Servi&ccedil;os </a>
                    <a id='links' href="/historico">Hist&oacute;rico</a>
                </div>
            </center>
        </div>
    <center>
        <br>
        <div id='div2' class="form">
            <div id="topo">
                <h2>Alterar Ve&iacute;culos</h2>
            </div>
            <div id="inferior">
                <br>
                <form name = "form1" class="form1" method="post" action="/veiculoedit/">
                    <table>
                        <tbody>
                        <tr>
                            <td class="normal">Cliente: </td>
                            <td class="normal">
                                
                                <select name="cliente" id="cliente" size="1">
                                    {{#clientes}}
                                        <option value="{{id}}">{{nome}}</option>
                                    {{/clientes}}
                                </select>
                                

                            </td>
                        </tr>

                        <tr>
                            <td class="normal">Placa: </td>
                            <td class="normal">
                                <input type="text" size="35" id="placa" name="placa" value="{{placa}}">
                            </td>
                        </tr>

                        <tr>
                            <td class="normal">Chassi: </td>
                            <td class="normal">
                                <input type="text" size="35" id="chassi" name="chassi" value="{{chassi}}">
                            </td>
                        </tr>

                        <tr>
                            <td class="normal">Marca: </td>
                            <td class="normal">
                                <input type="text" size="35" id="marca" name="marca" value="{{marca}}">
                            </td>
                        </tr>

                        <tr>
                            <td class="normal">Modelo: </td>
                            <td class="normal">
                                <input type="text" size="35" id="modelo" name="modelo" value="{{marca}}">
                            </td>
                        </tr>

                        <tr>
                            <td class="normal">Ano: </td>
                            <td class="normal">
                                <input type="text" size="35" id="ano" name="ano" value="{{ano}}"><!--tamanho 4-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <input type="hidden" value="{{id}}" id="id" name="id">
                    <button id="criar" type="button" onclick="validaVeiculo()">Alterar</button>
                    </div>
                    </div>
                </form>
                </center>
                <div id='div3' name='div3'>
                    <center>
                        <h3>Oficina G</h3>
                        <p>A Oficina da Gambiarra, onde nada se perde, nada se recusa, tudo se resolve.</p>
                    </center>
                </div>


                </body>
                </html>